@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgba(61, 179, 61, 0.904), rgba(173, 64, 64, 0.836));
    }
    
    #login {
        width: 80%;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgba(61, 179, 61, 0.904), rgba(173, 64, 64, 0.836));
    }
    
    #login {
        width: 950px;
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 50%;
    }
}

